
.header {
  padding: 20px 0;
  background-color: #FEDDD1;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav {
  position: relative;
}
.nav__line {
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 20px;
	height: 1px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}
.nav__item {

}
.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  transition: color 0.3s ease-in-out;
}
.nav__link:hover {
  color: #FF3F3A;
}

.nav__link--active {
  color: #FF3F3A;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  max-width: 386px;
  width: 100%;
}
.header__buttons-consultation {
  max-width: 207px;
  width: 100%;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
}
.header__buttons-register {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 207px;
  width: 100%;
  height: 52px;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.header__buttons-register span {
  display: flex;
  align-items: center;
}
.header__buttons-register:hover {
  color: #FFF;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  cursor: pointer;
}
.header__buttons-register:hover .persona path {
  fill: #fff;
}

@media (max-width: 991.98px) {
  .header__buttons {
    max-width: 328px;
  }
  .header__buttons-consultation {
    display: none;
  }
  .header__buttons {
    max-width: 200px;
  }
}
@media (max-width: 768.98px) {
  .header__buttons {
    max-width: 250px;
    gap: 20px;
  }
}
@media (max-width: 460.98px) {
  .header__buttons {
    max-width: 110px;
    gap: 0;
  }
  .header__buttons-span {
    display: none;
  }
  .header__buttons-register {
    border: none;
  }
  .header__buttons-register span:not(:first-child) {
    display: none;
  }
}

/* modal */
.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
  z-index: 50;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal {
	background-color: #fff;
	width: 486px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;

  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
  overflow-y: auto;
}

.modal--visible {
	display: block;
}


/* form */
.modal__form {
  padding: 50px;
  text-align: center;
}

.form {
}
.form__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
}
.form__text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.form__item {
  padding-bottom: 20px;
  position: relative;
}

.form__input {
  padding-left: 14px;
  max-width: 390px;
  width: 100%;
  min-height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  outline: 0;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  font-family: 'Lato';
}
.form__label {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #000;
  font-family: 'Rubik', sans-serif;
  transition: all 0.3s ease 0s;
}

.form__input:focus + .form__label {
  transform: translateY(-20px);
  font-size: 12px;
  color: #FF3F3A;
  padding: 3px 3px;
  background: #fff;
}
.form__input:focus {
  border: 0.5px solid #FF3F3A;
}
.form__input:not(:placeholder-shown) {
  border: 0.5px solid #FF3F3A;
}
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-20px);
  font-size: 12px;   
  font-size: 12px;
  color: #FF3F3A;
  padding: 3px 3px;
  background: #fff;
}

/* check */
.check {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}
.check__item {
  margin-bottom: 25px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  color: #424551;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7.5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: 1px solid #FF3F3A;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form__button {
  max-width: 390px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  font-family: 'Lato';
}

.form__Sign-in {
}
.form__Sign-in--text {
  padding: 25px 0px;
  border-bottom: 1px solid #E5E8ED;
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.form__Sign-in--text a {
  margin-left: 5px;
  color: #FF3F3A;
  transition: color 0.3s ease-in-out;
}
.form__Sign-in--text a:hover {
  color: #F75E05;
  cursor: pointer;
}

/* icon-form */
.icon-form__title {
  margin: 25px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.icon-form__items {
  margin-top: 15px;
  max-width: 116px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-form__item {
}
.icon-form__item--svg path {
  transition: fill 0.3s ease-in-out;
}
.icon-form__item--svg path:hover {
  fill: #FF3F3A;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .modal__form {
    padding: 30px;
  }
  .modal {
    width: 400px;
  }
}
@media (max-width: 460.98px) {
  .modal-overlay {
    justify-content: flex-start;
  }
  .modal__form {
    padding: 20px;
  }
  .form__title {
    margin-bottom: 15px;
  }
  .form__text {
    margin-bottom: 15px;
  }
  .form__item {
    padding-bottom: 15px;
  }
  .check__item {
    margin-bottom: 15px;
  }
  .form__Sign-in--text {
    padding: 15px 0;
  }
  .icon-form__title {
    margin: 15px 0;
  }
  .modal {
    width: 300px;
  }
}

/* burger */
.burger {
  position: relative;
  width: 40px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #FF3F3A;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FF3F3A;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}
@media (max-width: 768.98px) {
  .burger {
    display: block;
  }
  .nav {
    position: fixed;
    right: 0;
    top: 92px;
    z-index: 1000;
    z-index: 50;
    overflow-y: auto;
    padding: 30px 0;
    width: 60%;
    max-width: 300px;
    height: calc(94vh - 63px);
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }
  .nav--visible {
    transform: none;
    box-shadow: -5px 0 15px -5px rgba(0,0,0, 0.8);
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__item {
    width: 100%;
  }
  .nav__link {
    display: inline-block;
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid var(--second-text);
    font-size: 20px;
  }

  .header__buttons {

  }
}

/* get-started */
.get-started {
  background-color: #FEDDD1;
}
.get-started__container {
}
.get-started__body {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
}
.get-started__content {
}
.get-started__music {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.get-started__music--play {
  
}
.get-started__music--name {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1E212C;
}
.get-started__title {
  max-width: 496px;
  padding-top: 25px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
}
.get-started__buttons {
  padding-top: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.get-started__button--about {
  width: 148px;
}

.get-started__button--courses {
  width: 200px;
}
.get-started__image img {
  max-width: 100%;
}
.get-started__bottom {
}
.statistics {
  padding: 80px 0px 40px;
}
.statistics__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.statistics__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.statistics__number {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}
.statistics__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}

@media (max-width: 1023.98px) {
  .get-started__body {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  
}

@media (max-width: 768.98px) {
  .statistics__items {
    flex-wrap: wrap;
  }
  
}

@media (max-width: 500.98px) {
  .get-started__body {
    padding-top: 20px;
  }
  .get-started__music--play {
    width: 40px;
    height: 40px;
  }
  .get-started__music--play img {
    width: 15px;
  }
  .get-started__title {
    font-size: 40px;
  }
  .get-started__buttons {
    padding-top: 30px;
  }
  .statistics__items {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .get-started__button--about {
    width: 120px;
  }
  .get-started__button--courses {
    width: 150px;
  }
  
}

/* about-us */

.about-us {
  margin-top: 120px;
}
.about-us__container {
}
.about-us__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.about-us__image img {
  max-width: 100%;
}
.about-us__content {
  max-width: 390px;
}
.about-us__subtitle {
}
.about-us__title {
  margin-bottom: 40px;
}

.about-us__row {
  margin-bottom: 12px;
  display: flex;
  align-items: start;
  gap: 15px;
}
.about-us__row:last-child {
  margin-bottom: 0px;
}
.about-us__img {
  margin-top: 7px;
}
.about-us__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.about-us__button {
  margin-top: 30px;
  width: 160px;
}

@media (max-width: 991.98px) {
  .about-us__body {
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
  }
  .about-us__image {
    order: 2;
  }
}
@media (max-width: 767.98px) {
  .about-us {
    margin-top: 70px;
  }
}
@media (max-width: 500.98px) {
  .about-us {
    margin-top: 50px;
  }
}

/*  */
.featured {
  margin-top: 120px;
}
.featured__container {
}
.featured-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.featured-header__row {
}
.featured-header__subtitle {
}
.featured-header__title {
}
.featured-header__button {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured__body {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.featured__item {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.featured__item:hover {
  transform: scale(1.1);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  cursor: pointer;
}
.featured__image {
}
.featured__content {
  padding: 30px;
  max-width: 322px;
}
.featured__speciality {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #fff;
}
.featured__speciality--green {
    max-width: 80px;
    padding: 0px 5px;
    background: #03CEA4;
    border-radius: 4px;
}
.featured__speciality--blue {
  max-width: 98px;
  padding: 0px 5px;
  background: #5A87FC;
  border-radius: 4px;
}
.featured__speciality--yellow {
  max-width: 120px;
  padding: 0px 5px;
  background: #F89828;
  border-radius: 4px;
}
.featured__speciality--pink {
  max-width: 60px;
  padding: 0px 5px;
  background: #F52F6E;
  border-radius: 4px;
}
.featured__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.featured__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
}
.featured__price span {
  padding-right: 5px;
  font-weight: 700;
  color: #FF4242;
}

@media (max-width: 767.98px) {
  .featured {
    margin-top: 70px;
  }
  .featured-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
}
@media (max-width: 500.98px) {
  .featured {
    margin-top: 50px;
  }
  .featured__item {
    flex-direction: column;
    max-width: 214px;
  }
  .featured__content {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .featured__price {
    margin-top: auto;
    font-size: 16px;
  }
}

/* our-benefits */
.our-benefits {
  margin-top: 120px;
}
.our-benefits__container {
}
.our-benefits__subtitle {
  text-align: center;
}
.our-benefits__title {
  text-align: center;
}

.tabs {
  margin-top: 60px;
}
.tabs__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.tabs__item {

}
.tabs__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 46px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  background-color: #fff;
  font-family: 'Lato';
  cursor: pointer;
}
.tabs__btn span {
  margin-top: 5px;
  margin-right: 8px;
}
.tabs__btn--active {
  color: #FF3F3A;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
}
.tabs__btn--active span  path {
  fill: #FF3F3A;
}
.tabs__content {
  display: none;
}
.tabs__content--active {
  display: block;
}

.content {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__item {
  max-width: 495px;
}
.content__title {
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1E212C;
}
.content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.content__image img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .tabs__list {
    justify-content: center;
  }
  .content {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .our-benefits {
    margin-top: 70px;
  }
  .tabs__btn {
    width: 200px;
  }
}

@media (max-width: 500.98px) {
  .our-benefits {
    margin-top: 50px;
  }
  .content__title {
    font-size: 25px;
  }
}

/* lectures  */
.lectures {
  margin-top: 120px;
  background: #FEDDD1;
}
.lectures__container {
}
.lectures__subtitle {
  padding-top: 80px;
  text-align: center;
}
.lectures__title {
  text-align: center;
  padding-bottom: 60px;
}
.lectures__body {

}
.lectures__item {
  margin-bottom: 25px;
  padding: 32px 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.lectures__item:hover {
  cursor: pointer;
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.lectures__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.lectures__date {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
}
.lectures__row {
  width: 100px;
}
.lectures__month {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.lectures__time {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.lectures__content {
  max-width: 757px;
  width: 100%;
}
.content-lectures {

}
.content-lectures__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.content-lectures__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}
.lectures__button {
  max-width: 136px;
  width: 100%;
}
.lectures__bottom {
}
.bottom-lectures {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.bottom-lectures__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
}
.bottom-lectures__button {
  max-width: 215px;
  width: 100%;
}



@media (max-width: 767.98px) {
  .lectures {
    margin-top: 70px;
  }
  .lectures__item {
    flex-direction: column;
    max-width: 280px;
    padding: 32px 20px;
  }
  .lectures__body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .lectures__content {
    max-width: 280px;
  }
  .content-lectures__title {
    margin-bottom: 10px;
  }
  .lectures__button {
    max-width: 100%;
  }
}

@media (max-width: 590.98px) {
  .lectures {
    margin-top: 50px;
  }
  .lectures__body {
    justify-content: center;
  }
}

@media (max-width: 500.98px) {
  .bottom-lectures {
    flex-direction: column;
    padding: 30px 0 60px;
  }
}

/* certificate */
.certificate {
  padding-top: 120px;
  background-color: #fff;
}
.certificate__container {
}
.certificate__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.certificate__content {
  max-width: 392px;
}
.certificate__subtitle {
}
.certificate__title {
  text-transform: none;
  margin-bottom: 50px;
}
.certificate__text {
  margin-bottom: 30px;
}
.certificate__pictures {

}
.pictures {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.pictures__item {
}
.certificate__image {
  max-width: 700px;
}
.certificate__image img {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .certificate {
    padding-top: 70px;
  }
  .certificate__body {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}
@media (max-width: 500.98px) {
  .certificate {
    padding-top: 50px;
  }
  .certificate__title {
    margin-bottom: 30px;
  }
  .pictures__item img {
    max-width: 100%;
  }
}

/* team */
.team {
  padding-top: 120px;
}
.team__container {
}
.team-header {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.team-header__row {
}
.team__subtitle {
}

.team__title {
}
.team-slide__arrows {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-slide__arrow.swiper-button-prev,
.team-slide__arrow.swiper-button-next {
  position: static;
  width: 25px;
  height: 17px;
  background: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.team-slide__arrow::after {
  display: none;
}
.team-slide__arrow.swiper-button-prev {
  transform: rotate(-180deg);
}


.team-swiper {
}
.swiper-wrapper {
}
.team-swiper-wrapper {
}
.swiper-slide {
}
.team-swiper-slide {
}
.team__content {
}

.content-team {
  
}
.content-team__image {
  position: relative;
  padding: 20px 20px 0px;
  background: #FFCF2D;
  border-radius: 4px;
}
.content-team__image img {
  max-width: 100%;
}
.content-team__title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  text-align: center;
}
.content-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  text-align: center;
}
.content-team {
  transition: all 0.3s ease-in-out;
}
.content-team:hover .social-team {
  opacity: 1;
  visibility: visible;
}

.social-team {
  position: absolute;
  bottom: 70px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.social-team__item {
  
}
.social-team__svg path {
  fill: #FF3F3A;
} 
@media (max-width: 767.98px) {
  .team {
    padding-top: 70px;
  }
}

@media (max-width: 500.98px) {
  .team {
    padding-top: 50px;
  }
  .team-header {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  .content-team__title {
    font-size: 17px;
  }
  .content-team__text {
    font-size: 15px;
  }
}
@media (max-width: 452.98px) {
  .social-team {
    bottom: 90px;
  }
}

/* testimonials */

.testimonials {
  margin-top: 120px;
  padding-bottom: 60px;
}
.testimonials__container {
  position: relative;
}
.testimonials__subtitle {
  text-align: center;
}
.testimonials__title {
  text-align: center;
}

.swiper {
}
.testimonials-swiper {
  margin-top: 60px;
  margin-bottom: 60px;
}
.swiper-wrapper {
}
.testimonials-swiper-wrapper {
}
.swiper-slide {
}
.testimonials-swiper-slide {
}
.testimonials-swiper__content {
  margin: 0 auto;
  padding: 64px 105px;
  max-width: 1020px;
  background-color: #fff;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.testimonials-swiper__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
}
.testimonials-swiper__author {
}

.author {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.author__image {
}
.author__item {
}
.author__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
}
.author__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}



.testimonials-swiper-pagination {
  
}
.testimonials-swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #B3B7BC;
  padding: 2px 2px;
  width: 30px;
  height: 1px;
  border: 1px solid #424551;
  border-radius: 10px;
  transition:  all 0.3s ease 0s;
}
.testimonials-swiper-pagination .swiper-pagination-bullet-active {
  background: #424551;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -60px;
} 

.testimonials__arrows {
  position: absolute;
  top: 70%;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.testimonials-arrow.swiper-button-prev,
.testimonials-arrow.swiper-button-next {
  width: 25px;
  height: 17px;
  background: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials-arrow::after {
  display: none;
}
.testimonials-arrow.swiper-button-prev {
  transform: rotate(-180deg);
}


@media (max-width: 767.98px) {
  .testimonials {
    margin-top: 70px;
  }
  .testimonials__arrows {
    display: none;
  }
  .testimonials-swiper__content {
    padding: 32px 55px;
  }
}

@media (max-width: 500.98px) {
  .testimonials {
    margin-top: 50px;
    padding-bottom: 30px;
  }
  .testimonials-swiper__content {
    padding: 20px 20px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -30px;
  } 
}

/* blog */
.blog {
  padding: 120px 0;
  
  background-color: #fff;
}
.blog__container {
}
.blog-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.blog-header__row {
}
.blog-subtitle {
}
.blog-title {
}

.blog-header__buttons {
}
.blog-header__button {
  width: 158px;
}
.blog__body {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  /* align-items: center;
  flex-wrap: wrap; */
  column-gap: 20px;
  row-gap: 30px;
}
.blog__content {
  max-width: 390px;
  width: 100%;
}
.blog__image {
  position: relative;
}
.blog__image img {
  max-width: 100%;
}
.blog__wrapper {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 85px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.blog__icon {
  display: flex;
}
.blog__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.blog__item {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 321px;
}
.blog__profession {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.blog__date {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.blog__date::before {
  content: "";
  display: flex;
  width: 16px;
  height: 15px;
  background-image: url(../img/blog/date.png);
}
.blog__time {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.blog__time::before {
  content: "";
  display: flex;
  width: 16px;
  height: 15px;
  background-image: url(../img/blog/date.png);
}
.blog__title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}
.blog__text {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.button--icon {
}
.button__arrow-right {
}

@media (max-width: 767.98px) {
  .blog {
    padding: 70px 0;
  }
  .blog__body {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500.98px) {
  .blog {
    padding: 50px 0;
  }
}

.announcements {
  position: relative;
  padding: 120px 0;
  background: #FEDDD1;
}
.announcements::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 354px;
  height: 246px;
  background-image: url(../img/announcements/illustration.png);
  background-repeat: no-repeat;
}
.announcements::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 354px;
  height: 246px;
  max-width: 100%;
  background-image: url(../img/announcements/illustration.png);
  background-repeat: no-repeat;
}
.announcements__container {
  
}
.announcements__subtitle {
  text-align: center;
}
.announcements__title {
  text-align: center;
  max-width: 810px;
  margin: 0 auto;
}

.announcements__form {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 60px;
}
.announcements__item {
}
.announcements__input {
  width: 422px;
  padding: 13px 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  outline: 0;
  color: #1E212C;
}
.announcements__label {
}
.announcements__button {
  max-width: 154px;
  width: 100%;
}


@media (max-width: 991.98px) {
  .announcements::after {
    display: none;
  }
  .announcements::before {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .announcements {
    padding: 70px 0;
  }
  .announcements__input {
    width: 280px;
  }
}

@media (max-width: 500.98px) {
  .announcements {
    padding: 50px 0;
  }
  .announcements__form {
    flex-direction: column;
    align-items: center;
  }
}

/* footer */
.footer {
  padding: 80px 0;
  background: #1E212C;
}
.footer__container {
}
.footer__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}
.footer__item {
  
}
.footer__logo {
}
.footer__text {
  margin-top: 24px;
  margin-bottom: 38px;
  max-width: 280px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.footer__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  max-width: 244px;
  width: 100%;
}
.icons-footer {
}
.icons-footer__item svg path {
  transition: all 0.3s ease-in-out;
}
.icons-footer__item:hover svg path{
  fill: #9A9CA5;
  cursor: pointer;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 8px;
}
.menu-footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  transition: all 0.3s ease-in-out;
}
.menu-footer__link:hover {
  text-decoration: underline;
}
.footer__contacts {
}
.contacts-footer {
}
.contacts-footer__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.contacts-footer__list {
}
.contacts-footer__item:not(:last-child) {
  margin-bottom: 8px;
}
.contacts-footer__number {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  transition: all 0.3s ease-in-out;
}
.contacts-footer__number::before {
  content: "";
  display: flex;
  width: 16px;
  height: 16px;
  background-image: url(../img/footer/iPhone.png
  );
  background-repeat: no-repeat;
}
.contacts-footer__email {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9A9CA5;
  transition: all 0.3s ease-in-out;
}
.contacts-footer__email::before {
  content: "";
  margin-top: 5px;
  display: flex;
  width: 16px;
  height: 16px;
  background-image: url(../img/footer/Union.png
  );
  background-repeat: no-repeat;
}
.footer__form {
}
.form-footer {
}
.form-footer__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.form-footer__item:not(:last-child) {
  margin-bottom: 8px;
}
.form-footer__input {
  padding: 9px 12px;
  max-width: 200px;
  width: 100%;
  outline: 0;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #fff;
}
.form-footer__label {
}
.form-footer__text {
  max-width: 200px;
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #FFFFFF;
}

@media (max-width: 991.98px) {
  .footer__body {
    flex-wrap: wrap;
    row-gap: 30px;
  }
}

@media (max-width: 767.98px) {

}

@media (max-width: 500.98px) {
 
}
/* scroll-top */
.btn-top {
  display: none;
  cursor: pointer;
  position: fixed; 
  bottom: 20px;
  right: 30px;
  z-index: 29;
  width: 40px;
  height: 40px;
  background: url(../img/scroll-top.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border-radius: 50%;
  transform: rotate(90deg);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  color: #BB8C5F;
  border: none;
}
